.c-image {
  height: 168px;
  width: 162px;
}

.c-wrapper {
  margin-top: 20px;
  margin-left: 20px;
  padding: 5px;
  display: flex;
}

p{
  color: #2B283A;
  
}

a {
  color: #918E9B;
}

.c-row-wrapper {
  margin-left:40px;
}
.c-wrapper-inline{
  display: flex;
  column-gap: 15px
}

